* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #000;
}

main {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom, rgb(30, 28, 28), rgb(48, 44, 44), black);
    padding: 20px;
    display: flex;
}

section {
    height: 100%;
    width: 320px;
    background-color: #000;
    border-radius: 10px;
    margin: auto;
}

.all-reels {
    width: 100%;
    height: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.all-reels::-webkit-scrollbar {
    display: none;
}

.reel {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    /* background-color: lightseagreen; */
    margin-bottom: 20px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.reel video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reel .bottom {
    padding: 30px 20px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.297));
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bottom .user {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
}

.bottom .user h4 {
    font-size: 15px;
    font-weight: 500;
}

.bottom .user button {
    background-color: transparent;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    border: 1px solid #fff;
    cursor: pointer;
}

.bottom .user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.bottom>h3 {
    font-weight: 500;
    font-size: 16px;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    width: 40px;
    padding: 30px;
    position: absolute;
    /* transform: translateX(100%); */
    right: 0;
    bottom: 8%;
}

.right i {
    font-size: 25px;
    font-weight: 500;
}

.right h4 {
    cursor: pointer;
}

.right h6 {
    font-size: 16px;
    font-weight: 500;
}

.right>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    cursor: pointer;
}

.love {
    color: red;
}

.right>div h4 {
    pointer-events: none;
}

.right>div h6 {
    pointer-events: none;
}

.mute {
    background-color: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.mute i {
    font-size: 22px;
    pointer-events: none;
}

.mute:active {
    scale: 0.9;
}

@media (max-width: 500px) {
    section {
        width: 100%;
    }
}